* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header_navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 250px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.header_navbar ul li img {
  display: flex;
}

.profile_photo {
  background: url(https://lh3.googleusercontent.com/-MJxC0TVO_pM/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rf-uoltUMxL65bLWtv3A95wJh9B5A.CMID/s32-c/photo.jpg);
  background-position: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 130px);
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 300px;
  width: 600px;
}

.main_logo img {
  width: 340px;
}

.main_searchBar {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  border: solid lightgrey 1px;
  align-items: center;
  justify-content: space-evenly;
}

.main_searchBar span {
  background: url("https://www.pinclipart.com/picdir/middle/4-45027_vector-search-icon-search-icon-vector-png-clipart.png");
  background-size: cover;
  width: 20px;
  height: 20px;
}

.main_searchBar input {
  border: none;
  width: 80%;
  height: 100%;
}

.main_searchBar input:focus {
  outline: none;
}

.main_searchBar:hover {
  box-shadow: 0px 0px 10px 1px rgba(148, 148, 148, 0.46);
  cursor: pointer;
}

.main_searchBar a {
  background: url("http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}

.main_buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.main_buttons button {
  background-color: #eaeaea;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
}

.main_buttons button:hover {
  border: 1px solid lightslategray;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
  width: 100%;
  height: 60px;
}

.footer a {
  margin: 0 10px;
}
